<div style="margin-top: 150px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-9" style="background-color: white; padding-top: 20px; border: 2px solid whitesmoke;">
        <h6 id="tableLabel">My Cart <span *ngIf="ProductsSelected">({{ ProductsSelected.length }})</span></h6>
        <p *ngIf="!ProductsSelected || (ProductsSelected && ProductsSelected.length==0)"><em>No items</em></p>
        <div *ngIf="ProductsSelected && ProductsSelected.length>0" class="container text-center">
          <div class="row showScroll">
            <div class="col-sm-12 mb-12"
                 *ngFor="let product of ProductsSelected">
              <div class="item">
                <div class="card mb-r">
                  <div class="row">
                    <div class="col-sm-3">
                      <a [routerLink]="['/productdetail', product.productId]">
                        <div class="view overlay hm-white-slight text-center">
                          <img [src]="product.productImageUrl"
                               height="150"
                               alt="" />
                          <a>
                            <div class="mask waves-effect waves-light"></div>
                          </a>
                        </div>
                      </a>
                      <div class="card-footer">
                        <div>
                          <button (click)="substract(product)" class="btn btn-primary">-</button>
                          <span class="CartCount">{{ product.count }}</span>
                          <button (click)="add(product)" class="btn btn-primary">+</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-body text-left no-padding col-sm-6">
                      <a class="text-muted">
                        <h5>{{ product.productName }}</h5>
                      </a>
                      <p class="card-title">
                        <strong>
                          <a routerLinkActive="router-link-active">{{ product.categoryName }}</a>
                        </strong>
                      </p>
                      <div class="product-detail">
                        <h5 class="product-head" style="color:green;">Discounts</h5>
                        <table class="table" cellspacing="0" style="max-height: 28px;">
                          <tbody>
                            <tr *ngFor="let discount of product.discounts">
                              <td *ngIf="discount.discount>0" style="padding:0rem!important"><span class="left GreenText">{{ discount.discount }}% Off - {{ discount.discountName }} {{ product.productCost*discount.discount/100 }} $ Off </span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div>
                        <span class="left">
                          $ {{ (product.productCost - getTotalDiscountForProduct(product)) * product.count }}
                          <span class="ActualCost"> $ {{ product.productCost * product.count }}</span>
                        </span>
                        <span class="left OffersText">{{ getOffersText(product.discounts) }}</span>
                      </div>
                    </div>
                    <div class="col-sm-3 card-body text-left no-padding">
                      <a class="text-muted">
                        <h6>Delivery by Wed | <span class="GreenText">Charges : $ {{ product.deliveryCharges*product.count }}</span></h6>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-right" style="padding:20px"><a class="text-center btn btn-primary" [routerLink]="['/checkout']">Checkout</a></div>
        </div>
      </div>
      <div class="col-sm-3" style="background-color: white;padding-top: 20px;border: 2px solid whitesmoke;">
        <h6>PRICE DETAILS</h6>
        <div *ngIf="ProductsSelected">
          <table class="table no-padding-table" cellspacing="0" style="max-height: 28px;">
            <tbody>
              <tr>
                <td>Price ({{ ProductsSelected.length }} items)</td>
                <td> $ {{ getProductsTotalCostToPay() }}</td>
              </tr>
              <tr>
                <td>Delivery Fee </td>
                <td> $ {{ getProductDeliveryChargesTotal() }} </td>
              </tr>
              <tr *ngIf="(getProductsTotalCostToPay() + getProductDeliveryChargesTotal()) > 25000" style="font-size: 14px; color: green; font-weight:bold">
                <td>Additonal 10% discount your order crossed $25000 </td>
                <td> $ {{ (getProductsTotalCostToPay() + getProductDeliveryChargesTotal())*0.10  | number }} </td>
              </tr>
              <tr>
                <td style="font-weight:bold">
                  Total Amount
                </td>
                <td *ngIf="(getProductsTotalCostToPay() + getProductDeliveryChargesTotal()) <= 25000">
                  $ {{ getProductsTotalCostToPay() + getProductDeliveryChargesTotal() }}
                </td>
                <td *ngIf="(getProductsTotalCostToPay() + getProductDeliveryChargesTotal()) > 25000">
                  $ {{ getProductsTotalCostToPay(0.10) + getProductDeliveryChargesTotal(0.10) }}
                </td>
              </tr>
            </tbody>
          </table>
          <span style="font-size: 14px; color: green; font-weight:bold">You will save $ {{ getProductsTotalCost() - (getProductsTotalCostToPay() + getProductDeliveryChargesTotal()) }} on this order</span>
        </div>
      </div>
    </div>
  </div>  
</div>
