<div class="container">
  <img src="/assets/Screen1/Banner Photo.jpg" class="d-inline-block align-top" style="width: 100%;" alt="">
</div>
<div style="margin-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="padding: 50px;font-weight: bold;">
          <h1>FRESH FOOD FOR A FRESHER YOU</h1>
          <span>Quality food, quality life.</span>
        </div>
      </div>
      <div class="col-sm">
        <img src="/assets/Screen2/Side image.png" class="d-inline-block align-top" style="width: 100%;" alt="">
      </div>
    </div>
  </div>
  <div style="margin-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="box">
            <img src="/assets/Screen2/clock.png" class="img-fluid" style="width: 50%;" alt="">
          </div>
        </div>
        <div class="col-sm">
          <div class="box">
            <img src="/assets/Screen2/delivery-truck.png" class="img-fluid" style="width: 50%;" alt="">
          </div>
        </div>
        <div class="col-sm">
          <div class="box">
            <img src="/assets/Screen2/support.png" class="img-fluid" style="width: 50%;" alt="">
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <div class="box" style="font-weight: bold;">
            Online Everywhere
          </div>
        </div>
        <div class="col">
          <div class="box" style="font-weight: bold;">
            Fast Delivery
          </div>
        </div>
        <div class="col">
          <div class="box" style="font-weight: bold;">
            24/7 Support
          </div>
        </div>
      </div>
    </div>
  </div>
</div>